# Laravel-specific
/.phpunit.cache
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json

# Logs
logs
*.log
npm-debug.log
yarn-error.log
pnpm-debug.log*
lerna-debug.log*

# Node.js and build artifacts
/node_modules
dist
dist-ssr
*.local

# Editor directories and files
# .vscode/*
/.vscode
!.vscode/extensions.jsonD
/.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# IDE-specific
/.fleet