.img-product {
    height: 120px;
    width: 120px;
    background-size: cover;
}

.price {
    color: red;
}

.info {
    a {
        color: #4d4c4c9a !important;
        font-size: 0.95rem;
    }
}

.quantity-selector {
    button,
    input {
        border: 0.3px solid #ccc;
    }
}

.all-tables{
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    gap: 40px;
}

.price{
    font-size: 0.9rem;
}

input{
    &:focus{
        box-shadow: none;
        outline: #ccc;
    }
}